<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Photo Share - Dusik2{% endblock %}

{% block breadcrumbs %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Login</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row align-items-center">
        <div class="col text-center">
            <h1>Dusik Photo Album</h1>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-4 text-center">
            <h3>English</h3>
        </div>
        <div class="col-4 text-center">
            <h3>Italiano</h3>
        </div>
        <div class="col-4 text-center">
            <h3>Slovensky</h3>
        </div>
    </div>
</div>


{% endblock %}
